
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Signika+Negative:wght@600&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family:'Alkatra';
    
}

.button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 23px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px
}